footer #o_footer_scrolltop_wrapper {
    position: fixed;
    right: 2rem;
    bottom: 2rem;
    @include media-breakpoint-up(md) {
        right: 2.5rem;
        bottom: 2.5rem;
    }
    width: 2rem;
    z-index: 1000;
    opacity: 0.7;
    &:hover {
        opacity: 1;
    }
    .btn.rounded-circle {
        border-radius: 50% !important;
        padding: 0.75rem;
        @include media-breakpoint-up(md) {
            padding: 1rem;
        }
    }
}
