.horizon_cgs_6_success {
    border-left : 10px solid #28a745 !important;
}

.horizon_cgs_5_progress {
    border-left : 10px solid #ffc107 !important;
}

.horizon_cgs_7_failed {
    border-left : 10px solid red !important;
}

.horizon_cgs_1_confirmed {
    border-left : 10px solid #00BFFF !important;
}

.horizon_cgs_0_valuated {
    border-left : 10px solid blue !important;
}

.horizon_cgs_2_candidate {
    border-left : 10px solid #ADD8E6 !important;
}

.horizon_cgs_9_draft {
    border-left : 10px solid grey !important;
}

.horizon_cgs_10_irregular {
    border-left : 10px solid black !important;
}

.horizon_eval_cell {
    border-left : 1px solid lightgrey !important;
    border-right : 1px solid lightgrey !important;
    width: 70px;
    text-align:center;
}

.o_readonly_modifier.horizon_eval_cell {
    background-color: #eeeeee !important;
}