.score_value {
    font-size: xx-large;
    font-weight: bold;
}

.btn_credits {
    color: #ffffff;
    background-color: #00c853;
    border-color: #00c853;
    padding: 0;
    width: 100%;
}

.progress-bar {
    height: 100%;
    font-size: 30px;
    line-height: 40px;
}