// Colors
$o-community-color: #101527;
$o-enterprise-color: #101527;
$o-enterprise-primary-color: #101527;

$o-brand-odoo: $o-community-color;
$o-brand-primary: $o-community-color;

.hello_world{ color: $o-brand-odoo }

// $o-brand-secondary: #f0eeee;
// $o-brand-lightsecondary: #e2e2e0;
// $o-gray-100: #f8f9fa; // This is BS default

// $o-main-color-muted: #a8a8a8;
// $o-main-text-color: #4c4c4c;

// $o-view-background-color: white;
// $o-shadow-color: #303030;

// $o-form-lightsecondary: #ccc;

// $o-list-footer-bg-color: #eee;
// $o-list-footer-font-weight: bold;

// $o-tooltip-background-color: black;
// $o-tooltip-color: white;
// $o-tooltip-arrow-color: black;
// $o-tooltip-text-color: #777777;
// $o-tooltip-title-text-color: #4c4c4c;