/* ---------------------------------------------------------
   1. Embedded Icomoon fonts styles
   2. Accordion styles
   3. Common site styles
   4. Header site styles
   5. Footer site styles
   6. Pages site styles
      6.1 Home Page
      6.2 Dashboard Pages
   7. Styles for responsive breakpoints
   ---------------------------------------------------------*/

/* ---------------------------------------------------------
   1. Embedded Icomoon fonts styles
   ---------------------------------------------------------*/

@font-face {
	font-family: "icomoon";
	src: url("../fonts/icomoon.eot?4iarvv");
	src: url("../fonts/icomoon.eot?4iarvv#iefix") format("embedded-opentype"), url("../fonts/icomoon.ttf?4iarvv") format("truetype"), url("../fonts/icomoon.woff?4iarvv") format("woff"), url("../fonts/icomoon.svg?4iarvv#icomoon") format("svg");
	font-weight: normal;
	font-style: normal;
	font-display: block;
}

[class^="icon-"],
[class*=" icon-"] {
	/* use !important to prevent issues with browser extensions that change fonts */
	font-family: "icomoon" !important;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1; /* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-power:before {
	content: "\e908";
}

.icon-arrow-down:before {
	content: "\e907";
}

.icon-facebook:before {
	content: "\e906";
}

.icon-instagram:before {
	content: "\e905";
}

.icon-arrow-right:before {
	content: "\e904";
}

.icon-event-create:before {
	content: "\e903";
}

.icon-program:before {
	content: "\e902";
}

.icon-locked:before {
	content: "\e901";
}

.icon-google:before {
	content: "\e900";
}

/* ---------------------------------------------------------
    2. Accordion styles
   ---------------------------------------------------------*/

.accordion .opener {
	display: inline-block;
}

.accordion .opener .plus {
	display: inline-block;
	width: 44px;
	height: 44px;
	background: #101531;
	-webkit-transform: translate(0, -17px);
	-ms-transform: translate(0, -17px);
	transform: translate(0, -17px);
	position: relative;
	border-radius: 50%;
	-webkit-transition-property: background;
	transition-property: background;
	-webkit-transition-duration: .3s;
	transition-duration: .3s;
	-webkit-transition-timing-function: linear;
	transition-timing-function: linear;
}

.accordion .opener .plus:before,
.accordion .opener .plus:after {
	content: "";
	width: 8px;
	height: 2px;
	background: #e02533;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transition-property: background, opacity, -webkit-transform;
	transition-property: background, opacity, -webkit-transform;
	transition-property: background, opacity, transform;
	transition-property: background, opacity, transform, -webkit-transform;
	-webkit-transition-duration: .3s;
	transition-duration: .3s;
	-webkit-transition-timing-function: linear;
	transition-timing-function: linear;
}

.accordion .opener .plus:before {
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	opacity: 1;
}

.accordion .opener .plus:after {
	-webkit-transform: translate(-50%, -50%) rotate(90deg);
	-ms-transform: translate(-50%, -50%) rotate(90deg);
	transform: translate(-50%, -50%) rotate(90deg);
}

.accordion > li.active .opener .plus {
	background: #e02533;
}

.accordion > li.active .opener .plus:before,
.accordion > li.active .opener .plus:after {
	background: #fff;
}

.accordion > li.active .opener .plus:before {
	opacity: 0;
}

.accordion > li.active .opener .plus:after {
	-webkit-transform: translate(-50%, -50%) rotate(0deg);
	-ms-transform: translate(-50%, -50%) rotate(0deg);
	transform: translate(-50%, -50%) rotate(0deg);
}

.accordion.slide .slide {
	overflow: hidden;
	-webkit-animation: animHeightOut .3s both;
	animation: animHeightOut .3s both;
}

.accordion.slide .active > .slide {
	-webkit-animation: animHeightIn .3s both;
	animation: animHeightIn .3s both;
}

.js-acc-hidden {
	position: absolute !important;
	left: -9999px !important;
	top: -9999px !important;
	display: block !important;
	width: 100%;
}

.clearfix:after {
	content: "";
	display: block;
	clear: both;
}

.second-font-family,
#nav,
.back-link,
a.float-link {
	font-family: Arial, "Helvetica Neue", "Segoe UI", Roboto, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.ellipsis {
	white-space: nowrap; /* 1 */
	text-overflow: ellipsis; /* 2 */
	overflow: hidden;
}

/* ---------------------------------------------------------
   3. Common site styles
   ---------------------------------------------------------*/

body {
	min-width: 320px;
}

body.dashboard.white-mod {
	background-color: #fff;
}

a {
	-webkit-transition-property: color;
	transition-property: color;
	-webkit-transition-duration: .27s;
	transition-duration: .27s;
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
}

img {
	max-width: 100%;
}

#wrapper {
	overflow: hidden;
}

.w1 {
	min-height: 100vh;
}

#main {
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
}

.container {
	padding-left: .9375rem;
	padding-right: .9375rem;
}

.hr-text:before,
.hr-text:after {
	content: "";
	background-color: #5c6280;
	height: 1px;
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
}

.hr-text:before {
	margin-right: 1.4em;
}

.hr-text:after {
	margin-left: 1.4em;
}

.btn {
	min-width: 18.125rem;
}

.btn.btn-danger {
	font-weight: 700;
	font-size: 1rem;
}

.btn.btn-outline-info {
	border: 1px solid rgba(92, 98, 128, .6);
	color: #5c6280;
}

.btn.btn-outline-info:hover {
	color: #fff;
	background: #e02533;
	border-color: #e02533;
}

.btn.btn-icon {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-pack: justify;
	-ms-flex-pack: justify;
	justify-content: space-between;
	font-weight: 700;
	font-size: 1rem;
	padding: .82rem .75rem .82rem 1.75rem;
	height: 3.75rem;
}

.btn.btn-icon i {
	display: inline-block;
	-ms-flex-item-align: center;
	-ms-grid-row-align: center;
	align-self: center;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	color: #e02533;
	font-size: .9em;
}

.btn.btn-icon span {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	position: relative;
	border-left: 1px solid #fff;
	padding: .35em .3em 0;
	width: 100%; /* ie11 fix */
	max-width: calc(100% - 37px);
	-webkit-box-flex: 0;
	-ms-flex: 0 0 calc(100% - 37px);
	flex: 0 0 calc(100% - 37px);
}

.bg-image {
	top: 0;
	left: 0;
	right: 0;
	z-index: -1;
	height: 22.875rem;
}

.bg-image img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	max-width: none;
	object-fit: cover;
}

.form-control.placeholder-muted::-webkit-input-placeholder {
	color: rgba(255, 255, 255, .5);
}

.form-control.placeholder-muted::-moz-placeholder {
	opacity: 1;
	color: rgba(255, 255, 255, .5);
}

.form-control.placeholder-muted:-moz-placeholder {
	color: rgba(255, 255, 255, .5);
}

.form-control.placeholder-muted:-ms-input-placeholder {
	color: rgba(255, 255, 255, .5);
}

.form-control.placeholder-muted.placeholder {
	color: rgba(255, 255, 255, .5);
}

.form-control.input-sm {
	width: 132px;
}

.form-control.input-font-lg {
	font-size: 1.375rem;
}

.form-control.no-appearance {
	-webkit-appearance: none;
	-webkit-border-radius: 6px;
}

.form-control.no-appearance::-ms-expand {
	display: none;
}

.form-control[disabled] {
	color: rgba(255, 255, 255, .5);
}

select.time-select {
	padding: .375rem 2.3rem;
}

select option {
	color: #101531;
}

button.form-control {
	-webkit-transition: color .27s ease-in-out, background-color .27s ease-in-out, border-color .27s ease-in-out, box-shadow .27s ease-in-out;
	transition: color .27s ease-in-out, background-color .27s ease-in-out, border-color .27s ease-in-out, box-shadow .27s ease-in-out;
}

.input-group .input-group-prepend + .form-control {
	border-left: none;
	border-radius: 0 6px 6px 0;
}

.input-group .form-control:first-child {
	border-right: none;
}

.input-group .form-control + .input-group-prepend {
	border: 1px solid #5c6280;
	border-left: none;
	border-radius: 0 6px 6px 0;
}

.input-group-prepend {
	border: 1px solid #5c6280;
	border-right: none;
	margin: 0;
	border-radius: 6px 0 0 6px;
}

.input-group-prepend .input-group-text {
	font-size: 1.234em;
	padding: .375rem 1.2rem;
}

textarea.form-control {
	min-height: 14.6875rem;
	max-height: 14.6875rem;
	resize: none;
	padding: 2rem 1.8125rem;
}

.form-group label {
	font-size: .5625rem;
	letter-spacing: .2em;
	padding-left: .25em;
}

.custom-select option {
	color: #101531;
}

/* ---------------------------------------------------------
   4. Header site styles
   ---------------------------------------------------------*/

.dashboard #header {
	line-height: 1;
	border-bottom: 1px solid #1a1f2b;
	font-size: .5rem;
	letter-spacing: .2em;
	padding-top: 1.375rem;
	padding-bottom: 1.25rem;
}

.dashboard #header .inner {
	padding-left: .9375rem;
	padding-right: .9375rem;
}

.dashboard.white-mod #header {
	background: #01061a;
}

.logo {
	font-size: .8125rem;
	font-weight: 600;
	letter-spacing: .08em;
}

#nav {
	line-height: normal;
}

#nav a {
	color: #fff;
	display: inline-block;
}

#nav a:hover {
	color: #e02533;
}

.dashboard.white-mod #nav a:hover {
	color: #e02533;
}

#nav i {
	font-size: 1.8em;
}

.back-link {
	font-size: .5625rem;
	line-height: normal;
	letter-spacing: .2em;
}

.back-link a:hover i {
	-webkit-transform: scaleX(-1) translate3d(-.5em, 0, 0);
	transform: scaleX(-1) translate3d(-.5em, 0, 0);
}

.back-link i {
	-webkit-transform: scaleX(-1) translate3d(0, 0, 0);
	transform: scaleX(-1) translate3d(0, 0, 0);
	font-size: .8em;
	margin: 0 1.8em .2em 0;
	-webkit-transition-property: -webkit-transform;
	transition-property: -webkit-transform;
	transition-property: transform;
	transition-property: transform, -webkit-transform;
	-webkit-transition-duration: .27s;
	transition-duration: .27s;
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
}

.back-link > span {
	display: inline-block;
}

/* ---------------------------------------------------------
    5. Footer site styles
   ---------------------------------------------------------*/

#footer {
	font-size: .5625rem;
	letter-spacing: .2em;
	padding: 0 0 1rem;
	color: #5c6280;
}

.home #footer {
	padding: .9375rem 0;
}

.dashboard.white-mod #footer {
	background: #fff;
	color: #5c6280;
}

.footer-inner {
	padding: 1.5rem 0 0;
	border-top: 1px solid #5c6280;
}

.footer-links {
	margin: 0 -.5em 27px;
}

.footer-links > li {
	padding: 0 .5em;
}

.copyright {
	font-size: .4375rem;
}

/* ---------------------------------------------------------
   6.1 Home Page
   ---------------------------------------------------------*/

.home #wrapper {
	background-repeat: no-repeat;
	background-position: top center;
	background-size: cover;
}

.home #main {
	-webkit-box-flex: 0;
	-ms-flex-positive: 0;
	flex-grow: 0;
}

.login-block {
	max-width: 307px;
}

.restore-link {
	font-size: .75rem;
}

/* ---------------------------------------------------------
  6.2 Dashboard Pages
   ---------------------------------------------------------*/

.dashboard #header {
	width: 100%;
}

.dashboard #footer {
	width: 100%;
}

/* dashboard left sidebar styles */

#aside-left {
	padding-top: 3.75rem;
	padding-left: .9375rem;
	padding-right: .9375rem;
	padding-bottom: 3.375rem;
}

.dashboard.white-mod #aside-left {
	background: #01061a;
	color: #fff;
}

.user-area {
	max-width: 17.3125rem;
	font-size: .5625rem;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	margin: 0 0 2.25rem;
}

.user-area .entry-meta {
	max-width: calc(100% - 62px);
	-webkit-box-flex: 0;
	-ms-flex: 0 0 calc(100% - 62px);
	flex: 0 0 calc(100% - 62px);
	width: calc(100% - 62px);
}

.user-area .avatar {
	max-width: 3.875rem;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 3.875rem;
	flex: 0 0 3.875rem;
}

.user-area h4 {
	margin: 0 0 .3em;
}

.user-area a {
	letter-spacing: .2em;
}

.avatar {
	width: 3.875rem;
	height: 3.875rem;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	overflow: hidden;
}

#aside-nav {
	font-size: .75rem;
	line-height: 1;
	letter-spacing: .2em;
}

#aside-nav li:not(:last-child) {
	border-bottom: 1px solid #1a1f2b;
}

#aside-nav a {
	padding: 2.2em 0;
	color: #fff;
}

#aside-nav a:hover > span:after {
	-webkit-transform: translate3d(1em, -50%, 0);
	transform: translate3d(1em, -50%, 0);
}

#aside-nav a > span {
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
	padding: 0 1.5em 0 0;
}

#aside-nav a > span:after {
	font-family: "icomoon" !important;
	content: "\e904";
	font-size: .46em;
	position: absolute;
	right: 0;
	top: 50%;
	-webkit-transform: translate3d(0, -50%, 0);
	transform: translate3d(0, -50%, 0);
	-webkit-transition-property: -webkit-transform;
	transition-property: -webkit-transform;
	transition-property: transform;
	transition-property: transform, -webkit-transform;
	-webkit-transition-duration: .27s;
	transition-duration: .27s;
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
}

#aside-nav i {
	-ms-flex-negative: 0;
	flex-shrink: 0;
	width: 3.375rem;
	font-size: 1.35em;
	color: #e02533;
}

/* dashboard content styles */

#content {
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
}

.dashboard.white-mod #content {
	color: #101531;
}

.content-body {
	padding: 3.9375rem .9375rem 3.9375rem .9375rem;
}

.content-body.thank-you-mod p {
	margin-bottom: .2rem;
}

.dashboard.white-mod .content-body {
	padding-top: 2.5625rem;
}

.content-body h1 {
	margin: 0 0 1.22em;
}

.social-box {
	width: 100%;
	margin: 0 0 2.8125rem;
}

.social-heading {
	font-size: .5625rem;
	line-height: 1;
	letter-spacing: .2em;
}

.social-heading i {
	color: #141313;
	font-size: 1.94em;
	margin: 0 1em 0 0;
}

.social-heading > span {
	-webkit-box-flex: 1;
	-ms-flex-positive: 1;
	flex-grow: 1;
}

.social-heading > span:after {
	content: "";
	max-width: 70%;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 70%;
	flex: 0 0 70%;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	height: 1px;
	display: block;
	background-color: rgba(20, 19, 19, .1);
	margin: 0 -15px 0 auto;
}

.swiper-container {
	padding: 2px 0 0;
}

.swiper-container .swiper-slide img {
	width: 100%;
}

.swiper-container .swiper-pagination {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
	position: relative;
	top: auto;
	bottom: auto;
	padding: 1.6875rem 0 0;
}

.swiper-container .swiper-pagination .swiper-pagination-bullet {
	width: .5rem;
	height: .5rem;
	border: 1px solid #000;
	background: transparent;
	opacity: 1;
	cursor: pointer;
	margin: 0;
	-webkit-transition-property: border-color, background;
	transition-property: border-color, background;
	-webkit-transition-duration: .27s;
	transition-duration: .27s;
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
}

.swiper-container .swiper-pagination .swiper-pagination-bullet:not(:last-child) {
	margin: 0 1.1em 0 0;
}

.swiper-container .swiper-pagination .swiper-pagination-bullet:hover {
	border-color: #e02533;
	background: #e02533;
}

.swiper-container .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
	border-color: #e02533;
	background: #e02533;
}

.facebook-list > li {
	padding: .75em 0;
}

.facebook-list > li:not(:last-child) {
	margin: 0 0 2.55em;
}

.facebook-list time {
	font-size: .5625rem;
	letter-spacing: .2em;
	opacity: .3;
	margin: 0 0 1.5em;
}

.facebook-list p {
	margin: 0 0 .6em;
}

.read-more {
	font-size: .5625rem;
	line-height: 1;
	letter-spacing: .2em;
}

.read-more:before {
	content: "";
	-ms-flex-negative: 0;
	flex-shrink: 0;
	width: 2rem;
	height: 1px;
	background: rgba(20, 19, 19, .2);
	margin: 0 1.45em 0 0;
}

.subheading-span {
	font-size: .5625rem;
	letter-spacing: .35em;
}

.profile-list {
	line-height: 1.7;
}

.profile-list > li {
	padding: 1.37em 0;
	display: inline-block;
	width: 100%;
	vertical-align: top;
	border-bottom: 1px solid rgba(92, 98, 128, .3);
}

.profile-list .entry-label {
	font-size: .5625rem;
	letter-spacing: .2em;
	margin: 0 0 1em;
}

.accordion-section:not(:last-child) {
	margin: 0 0 2.0625rem;
}

.accordion-section .accordion > li:not(:last-child) {
	margin: 0 0 .875rem;
}

.accordion-section .opener {
	margin: 0 0 0 auto;
}

.below-heading {
	font-size: .75rem;
}

a.float-link {
	font-size: .5625rem;
	letter-spacing: .2em;
}

a.float-link:hover {
	color: #5c6280 !important;
}

a.float-link:hover i {
	-webkit-transform: scaleX(-1) translate3d(0, 0, 0);
	transform: scaleX(-1) translate3d(0, 0, 0);
}

a.float-link i {
	font-size: .7em;
	margin: 0 0 0 1.4em;
	-webkit-transform: scaleX(1) translate3d(0, 0, 0);
	transform: scaleX(1) translate3d(0, 0, 0);
	-webkit-transition-property: -webkit-transform;
	transition-property: -webkit-transform;
	transition-property: transform;
	transition-property: transform, -webkit-transform;
	-webkit-transition-duration: .27s;
	transition-duration: .27s;
	-webkit-transition-timing-function: ease-in-out;
	transition-timing-function: ease-in-out;
}

.ul-head-row {
	line-height: 1;
	font-size: .4375rem;
	letter-spacing: .2em;
	text-transform: uppercase;
	color: #5c6280;
	padding: 2.0625rem 0 .75rem;
	width: calc(100% - 44px);
	border-bottom: 1px solid #2c2b2b;
	margin: 0 0 3rem;
}

.ul-head-row > li:nth-child(1) {
	max-width: 20%;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 20%;
	flex: 0 0 20%;
}

.ul-head-row > li:nth-child(2) {
	max-width: 60%;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 60%;
	flex: 0 0 60%;
	padding: 0 0 0 1.8em;
}

.ul-head-row > li:nth-child(3) {
	max-width: 20%;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 20%;
	flex: 0 0 20%;
	padding: 0 0 0 2.2em;
}

.ul-body-row {
	width: calc(100% - 60px);
	font-size: .8125rem;
	line-height: 1.4;
}

.ul-body-row > li {
	min-height: 1.8125rem;
}

.ul-body-row > li:nth-child(1) {
	max-width: 21.5%;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 21.5%;
	flex: 0 0 21.5%;
	font-size: .5rem;
	letter-spacing: .1em;
	font-weight: 700;
	border-right: 1px solid #2c2b2b;
}

.ul-body-row > li:nth-child(2) {
	max-width: 63%;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 63%;
	flex: 0 0 63%;
	border-right: 1px solid #2c2b2b;
	padding: 0 0 0 1em;
}

.ul-body-row > li:nth-child(2) > span {
	position: relative;
	top: -.2em;
}

.ul-body-row > li:nth-child(3) {
	max-width: 15.5%;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 15.5%;
	flex: 0 0 15.5%;
	font-size: .6875rem;
	text-align: right;
	padding: 0 .3em 0 0;
}

.ul-body-row > li:not(:first-child) > span {
	position: relative;
	top: -.2em;
}

.ul-slide-row {
	font-size: .75rem;
	line-height: 1.25;
	color: #5c6280;
	padding: 0 0 0 21%;
	width: calc(100% - 60px);
}

.ul-slide-row:not(:last-child) > li {
	border-bottom: 1px solid rgba(255, 255, 255, .1);
}

.ul-slide-row:last-child > li {
	padding-bottom: 1.375rem;
}

.ul-slide-row > li {
	padding: .875rem 0;
}

.ul-slide-row > li:nth-child(1) {
	max-width: 78.5%;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 78.5%;
	flex: 0 0 78.5%;
}

.ul-slide-row > li:nth-child(2) {
	max-width: 21%;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 21%;
	flex: 0 0 21%;
	text-align: right;
}

.ul-slide-row > li:nth-child(3) {
	max-width: 20%;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 20%;
	flex: 0 0 20%;
}

.ul-slide-row > li:nth-child(4) {
	max-width: 20%;
	-webkit-box-flex: 0;
	-ms-flex: 0 0 20%;
	flex: 0 0 20%;
}

.ul-slide-row .link {
	color: #5c6280;
}

.ul-slide-row .link:hover {
	color: #e02533;
}

.ul-slide-row .link span {
	color: #e02533;
	margin: 0 0 0 .4em;
}

.accordion.accordion-default .opener {
	font-size: .5625rem;
	letter-spacing: .2em;
	margin: 0;
}

.accordion.accordion-default .opener-text {
	width: calc(100% - 80px);
	border-bottom: 1px solid rgba(255, 255, 255, .1);
	padding: 1.5625rem 0;
}

.accordion.accordion-default .plus {
	-webkit-transform: none;
	-ms-transform: none;
	transform: none;
	margin: 0 0 0 auto;
}

.accordion-list {
	font-size: .5625rem;
	font-weight: 700;
	letter-spacing: .2em;
	padding: 0 0 .5625rem;
}

.accordion-list > li {
	border-bottom: 1px solid rgba(255, 255, 255, .1);
	padding: 1.74em 0;
	margin-right: 3.25rem;
}

.text-box {
	line-height: 1.7;
}

.booking-list {
	font-size: .8125rem;
	line-height: 1.4;
	padding: 1.875rem 0 0;
}

.booking-list > li {
	border-bottom: 1px solid rgba(92, 98, 128, .3);
	padding: 1.0625rem 0 1rem;
}

/* ---------------------------------------------------------
   7. Styles for responsive breakpoints
   ---------------------------------------------------------*/

@media (min-width: 375px) {
	.container {
		padding-left: 2.125rem;
		padding-right: 2.125rem;
	}

	.btn {
		min-width: 19.1875rem;
	}

	.form-control.input-sm {
		width: 142px;
	}

	select.time-select {
		padding: .375rem 2.6rem;
	}

	.dashboard #header .inner {
		padding-left: 2.1875rem;
		padding-right: 1.3125rem;
	}

	#aside-left {
		padding-left: 2.125rem;
		padding-right: 2.125rem;
	}

	.content-body {
		padding: 3.9375rem 2.125rem 3.9375rem 2.125rem;
	}

	.social-heading > span:after {
		max-width: 78%;
		-webkit-box-flex: 0;
		-ms-flex: 0 0 78%;
		flex: 0 0 78%;
		margin: 0 -34px 0 auto;
	}
}

@media (min-width: 768px) {
	.accordion .opener .plus:before,
	.accordion .opener .plus:after {
		background: #fff;
	}

	body {
		font-size: .9375rem;
		line-height: 1.6;
	}

	.bg-image {
		height: 28.5625rem;
	}

	.dashboard #header {
		padding-bottom: .9375rem;
	}

	.dashboard #header .inner {
		padding-right: 1.5625rem;
	}

	.home #footer {
		padding: 1.1875rem 0 6.4375rem;
	}

	.footer-inner {
		padding: 1.5rem 0 1.25rem;
	}

	#aside-left {
		padding-top: 4.0625rem;
	}

	#aside-nav i {
		width: 2.5rem;
	}

	.content-body {
		padding: 4.3125rem 2.125rem 4.1875rem 2.125rem;
	}

	.dashboard.white-mod .content-body {
		padding-top: 5.3125rem;
	}

	.social-block {
		margin: 0 -3.75rem;
	}

	.social-block > div {
		max-width: 50%;
		-webkit-box-flex: 0;
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		padding: 0 3.75rem;
	}

	.social-heading > span:after {
		max-width: 64%;
		-webkit-box-flex: 0;
		-ms-flex: 0 0 64%;
		flex: 0 0 64%;
		margin: 0 0 0 auto;
	}

	.facebook-list > li {
		padding: 1.1em 0;
	}

	.facebook-list > li:not(:last-child) {
		margin: 0 0 .4em;
	}

	.facebook-list time {
		margin: 0 0 1.4em;
	}

	.facebook-list p {
		margin: 0 0 1.2em;
	}

	.profile-list {
		-webkit-columns: 2;
		columns: 2;
		line-height: 1.666;
		-webkit-column-gap: 13.5%;
		column-gap: 13.5%;
	}

	.profile-list > li {
		padding: 1.28em 0;
	}

	.accordion-section:not(:last-child) {
		margin: 0 0 2.9375rem;
	}

	.below-heading {
		font-size: .9375rem;
	}

	.ul-head-row {
		width: 100%;
		font-size: .5625rem;
		padding: 1.875rem 0 .6875rem;
	}

	.ul-head-row > li {
		padding-right: 7px;
	}

	.ul-head-row > li:nth-child(1) {
		max-width: 9.4%;
		-webkit-box-flex: 0;
		-ms-flex: 0 0 9.4%;
		flex: 0 0 9.4%;
	}

	.ul-head-row > li:nth-child(2) {
		max-width: 36.8%;
		-webkit-box-flex: 0;
		-ms-flex: 0 0 36.8%;
		flex: 0 0 36.8%;
		padding: 0;
	}

	.ul-head-row > li:nth-child(3) {
		max-width: 18%;
		-webkit-box-flex: 0;
		-ms-flex: 0 0 100%;
		flex: 0 0 100%;
		padding: 0;
	}

	.ul-head-row > li:nth-child(4) {
		max-width: 15%;
		-webkit-box-flex: 0;
		-ms-flex: 0 0 15%;
		flex: 0 0 15%;
	}

	.ul-head-row > li:nth-child(5) {
		max-width: 20.8%;
		-webkit-box-flex: 0;
		-ms-flex: 0 0 20.8%;
		flex: 0 0 20.8%;
	}

	.ul-body-row {
		font-size: .9375rem;
	}

	.ul-body-row > li:nth-child(1) {
		max-width: 11%;
		-webkit-box-flex: 0;
		-ms-flex: 0 0 11%;
		flex: 0 0 11%;
		font-size: .5625rem;
		letter-spacing: .2em;
	}

	.ul-body-row > li:nth-child(2) {
		max-width: 38%;
		-webkit-box-flex: 0;
		-ms-flex: 0 0 38%;
		flex: 0 0 38%;
		border-right: none;
		padding: 0 0 0 .8em;
	}

	.ul-body-row > li:nth-child(3) {
		max-width: 6%;
		-webkit-box-flex: 0;
		-ms-flex: 0 0 6%;
		flex: 0 0 6%;
		font-size: .9375rem;
	}

	.ul-body-row > li:nth-child(4) {
		max-width: 22%;
		-webkit-box-flex: 0;
		-ms-flex: 0 0 22%;
		flex: 0 0 22%;
		text-align: right;
		padding: 0 .7em 0 0;
	}

	.ul-body-row > li:nth-child(5) {
		max-width: 23%;
		-webkit-box-flex: 0;
		-ms-flex: 0 0 23%;
		flex: 0 0 23%;
	}

	.ul-slide-row {
		font-size: .8125rem;
		padding: 0 0 0 10%;
	}

	.ul-slide-row > li {
		padding: .8125rem 0;
	}

	.ul-slide-row > li:nth-child(1) {
		max-width: 43%;
		-webkit-box-flex: 0;
		-ms-flex: 0 0 43%;
		flex: 0 0 43%;
		padding-left: .9em;
	}

	.ul-slide-row > li:nth-child(2) {
		max-width: 6.5%;
		-webkit-box-flex: 0;
		-ms-flex: 0 0 6.5%;
		flex: 0 0 6.5%;
		padding-right: .4em;
	}

	.ul-slide-row > li:nth-child(3) {
		max-width: 24.7%;
		-webkit-box-flex: 0;
		-ms-flex: 0 0 24.7%;
		flex: 0 0 24.7%;
		text-align: right;
		padding-right: .8em;
	}

	.ul-slide-row > li:nth-child(4) {
		max-width: 25.8%;
		-webkit-box-flex: 0;
		-ms-flex: 0 0 25.8%;
		flex: 0 0 25.8%;
		text-align: right;
		padding-right: .6em;
	}

	.accordion.accordion-default .opener-text {
		width: calc(100% - 52px);
	}

	.accordion-list {
		padding: .625rem 0 0;
	}

	.accordion-list > li {
		padding: 1.61em 0;
	}

	.accordion-list strong {
		font-size: .625rem;
	}
}

@media (min-width: 768px) and (max-width: 1023px) {
	.font-size-md-sm {
		font-size: .875rem;
		line-height: 1.642;
	}

	.footer-links {
		margin: 0;
	}

	.footer-links > li {
		padding: 0;
	}

	.footer-links > li:not(:last-child) {
		margin: 0 7.4em 0 0;
	}
}

@media (min-width: 768px) and (min-width: 1440px) {
	.social-block > div {
		padding: 0 5.875rem;
	}
}

@media (min-width: 1024px) {
	p {
		margin-bottom: .0rem;
	}

	h1,
	.h1 {
		font-size: 3.125rem;
	}

	h2,
	.h2 {
		font-size: 2.5rem;
	}

	h3,
	.h3 {
		font-size: 2rem;
	}

	h4,
	.h4 {
		font-size: 1.5625rem;
	}

	.dashboard #main:before {
		content: "";
		position: fixed;
		top: 0;
		left: 0;
		bottom: 0;
		background: #050a1d;
		width: 335px;
		border-right: 1px solid rgba(255, 255, 255, .1);
	}

	.btn {
		font-size: .9375rem;
	}

	.bg-image {
		height: 56.25rem;
	}

	.form-control {
		font-size: .9375rem;
	}

	textarea.form-control {
		padding: 1.8125rem 2rem;
	}

	.custom-select {
		font-size: .9375rem;
	}

	.dashboard #header {
		padding-top: 1.0625rem;
		border-bottom: 1px solid rgba(255, 255, 255, .1);
	}

	.dashboard #header .inner {
		padding-right: 1.1875rem;
	}

	.dashboard.white-mod #header {
		background: transparent;
		color: #141313;
		border-bottom: 1px solid rgba(0, 0, 0, .1);
	}

	#nav li:not(:last-child) {
		margin: 0 4em 0 0;
	}

	.dashboard.white-mod #nav a {
		color: #141313;
	}

	#nav i {
		font-size: 2.2em;
	}

	#footer {
		padding: 0 0 .5rem;
	}

	.home #footer {
		padding: 3rem 0;
	}

	.dashboard.white-mod #footer {
		background: transparent;
		color: #5c6280;
	}

	.dashboard #footer .container {
		padding-left: 2.5rem;
		padding-right: 2.5rem;
	}

	.dashboard #wrapper {
		min-height: 40.625rem;
	}

	.dashboard #header {
		position: absolute;
		top: 0;
		right: 0;
		width: calc(100% - 335px);
		color: #000;
	}

	.dashboard #footer {
		position: fixed;
		width: 335px;
		bottom: 0;
		left: 0;
	}

	#aside-left {
		position: fixed;
		top: 0;
		left: 0;
		width: 20.9375rem;
		padding-top: 2.5625rem;
	}

	.dashboard.white-mod #aside-left {
		background: transparent;
	}

	.user-area h4 {
		margin: 0 0 .2em;
	}

	#aside-nav i {
		width: 3.4375rem;
	}

	#content {
		max-width: calc(100% - 335px);
		-webkit-box-flex: 0;
		-ms-flex: 0 0 calc(100% - 335px);
		flex: 0 0 calc(100% - 335px);
		width: calc(100% - 335px);
	}

	.content-body {
		max-width: 60.25rem;
		padding: 5.625rem 2.125rem 4.1875rem 2.125rem;
	}

	.content-body.thank-you-mod p {
		margin-bottom: 0;
	}

	.dashboard.white-mod .content-body {
		padding-top: 5.625rem;
	}

	.social-block > div:nth-child(odd):before {
		content: "";
		position: absolute;
		top: .375rem;
		bottom: 3.1875rem;
		right: 0;
		background: rgba(20, 19, 19, .1);
		width: 1px;
	}

	.swiper-container .swiper-pagination {
		padding: 3.0625rem 0 0;
	}

	.facebook-list > li {
		padding: .34em 0;
	}

	.facebook-list > li:not(:last-child) {
		margin: 0 0 2.94em;
	}

	.profile-form {
		max-width: 38.125rem;
	}

	.profile-list {
		max-width: 44rem;
	}

	.accordion-section:not(:last-child) {
		margin: 0 0 1.875rem;
	}

	.below-heading {
		font-size: .8125rem;
	}

	.accordion.accordion-default .opener-text {
		padding: 1.625rem 0;
		width: calc(100% - 80px);
	}

	.accordion-list > li {
		margin-right: 5rem;
	}

	.booking-list {
		font-size: .9375rem;
		line-height: 1.7;
		padding: 4.1875rem 0 0;
	}

	.booking-list > li {
		padding: .875rem 0 .8125rem;
	}
}

@media (min-width: 1024px) and (max-height: 899px) {
	.bg-image {
		height: auto;
		bottom: 0;
	}
}

@media (min-width: 1440px) {
	.content-body {
		padding: 10.8125rem 2.125rem 4.1875rem 10rem;
	}

	.dashboard.white-mod .content-body {
		padding-top: 10.375rem;
	}

	.social-block {
		margin: 0 -5.875rem;
	}

	.ul-head-row > li:nth-child(1) {
		max-width: 8.6%;
		-webkit-box-flex: 0;
		-ms-flex: 0 0 8.6%;
		flex: 0 0 8.6%;
	}

	.ul-head-row > li:nth-child(2) {
		max-width: 34%;
		-webkit-box-flex: 0;
		-ms-flex: 0 0 34%;
		flex: 0 0 34%;
		padding-right: .4em;
	}

	.ul-head-row > li:nth-child(3) {
		max-width: 15.5%;
		-webkit-box-flex: 0;
		-ms-flex: 0 0 15.5%;
		flex: 0 0 15.5%;
	}

	.ul-head-row > li:nth-child(4) {
		max-width: 14.6%;
		-webkit-box-flex: 0;
		-ms-flex: 0 0 14.6%;
		flex: 0 0 14.6%;
	}

	.ul-head-row > li:nth-child(5) {
		max-width: 27.3%;
		-webkit-box-flex: 0;
		-ms-flex: 0 0 27.3%;
		flex: 0 0 27.3%;
	}

	.ul-body-row > li:nth-child(1) {
		max-width: 10%;
		-webkit-box-flex: 0;
		-ms-flex: 0 0 10%;
		flex: 0 0 10%;
	}

	.ul-body-row > li:nth-child(2) {
		max-width: 35%;
		-webkit-box-flex: 0;
		-ms-flex: 0 0 35%;
		flex: 0 0 35%;
	}

	.ul-body-row > li:nth-child(3) {
		max-width: 5.5%;
		-webkit-box-flex: 0;
		-ms-flex: 0 0 5.5%;
		flex: 0 0 5.5%;
	}

	.ul-body-row > li:nth-child(4) {
		max-width: 19.5%;
		-webkit-box-flex: 0;
		-ms-flex: 0 0 19.5%;
		flex: 0 0 19.5%;
	}

	.ul-body-row > li:nth-child(5) {
		max-width: 30%;
		-webkit-box-flex: 0;
		-ms-flex: 0 0 30%;
		flex: 0 0 30%;
	}

	.ul-slide-row {
		padding: 0 0 0 9.24%;
	}

	.ul-slide-row > li:nth-child(1) {
		max-width: 39%;
		-webkit-box-flex: 0;
		-ms-flex: 0 0 39%;
		flex: 0 0 39%;
	}

	.ul-slide-row > li:nth-child(2) {
		max-width: 6%;
		-webkit-box-flex: 0;
		-ms-flex: 0 0 6%;
		flex: 0 0 6%;
	}

	.ul-slide-row > li:nth-child(3) {
		max-width: 21.6%;
		-webkit-box-flex: 0;
		-ms-flex: 0 0 21.6%;
		flex: 0 0 21.6%;
	}

	.ul-slide-row > li:nth-child(4) {
		max-width: 33.4%;
		-webkit-box-flex: 0;
		-ms-flex: 0 0 33.4%;
		flex: 0 0 33.4%;
		padding-right: 11.4%;
	}
}

@media (max-width: 1023px) {
	.invisible-sm {
		visibility: hidden;
	}

	.dashboard.white-mod .footer-links a:hover {
		color: #e02533;
	}

	#aside-left.profile-mod {
		padding-top: 2.25rem;
		padding-bottom: 0;
	}

	#aside-left.profile-mod + #content .content-body {
		padding-top: 4.0625rem;
	}

	.profile-mod .user-area .entry-meta {
		padding: 0;
		text-align: center;
	}

	.profile-mod .user-area .avatar {
		max-width: 5.75rem;
		-webkit-box-flex: 0;
		-ms-flex: 0 0 5.75rem;
		flex: 0 0 5.75rem;
		width: 5.75rem;
		height: 5.75rem;
		margin: 0 0 2.2em;
	}

	.profile-mod .user-area .avatar img {
		width: 5.75rem;
		height: 5.75rem;
	}

	.profile-mod .user-area h4 {
		margin: 0;
	}
}

@media (max-width: 767px) {
	#aside-left.profile-mod {
		padding-top: 1.875rem;
	}

	#aside-left.profile-mod + #content .content-body {
		padding-top: 0;
	}

	.profile-list > li:last-child {
		border-bottom: none;
	}
}

@-webkit-keyframes animHeightIn {
	from {
		max-height: 0;
	}
}

@keyframes animHeightIn {
	from {
		max-height: 0;
	}
}

@-webkit-keyframes animHeightOut {
	to {
		max-height: 0;
	}
}

@keyframes animHeightOut {
	to {
		max-height: 0;
	}
}

@-webkit-keyframes animFadeInUp {
	from {
		opacity: 0;
		-webkit-transform: translateY(30px);
		transform: translateY(30px);
	}

	to {
		opacity: 1;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}

@keyframes animFadeInUp {
	from {
		opacity: 0;
		-webkit-transform: translateY(30px);
		transform: translateY(30px);
	}

	to {
		opacity: 1;
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}
}

